
.zitat-box {
        max-width: 500px;
        border: 2px solid #C5A059;
        padding: 20px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        color: white;
        text-align: left;
    }
    .text { font-size: 1.2rem; font-style: italic; min-height: 50px; }
    .autor { color: #C5A059; font-weight: bold; margin-bottom: 20px; }
    
    .navigation button {
        background: #C5A059;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
    }

/* Fix für die Positionierung, damit DE und EN exakt übereinander liegen */
.buch-container{
    position: absolute;
    left: 70%;
    top: 750px;
    transform: translateX(-50%);
    text-align: center;
}

/* Gemeinsames Design für beide Sprachen */
body {
    background-color: #18401c;
    color: #F5F2E8;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

/* Positionierung der Website-Namen */
#Name_Website {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    color: #C5A059;
    margin-bottom: 10px;
}

/* Zusammengefasste Buch-Container (damit sie an der gleichen Stelle sind) */
.buch-container {
    position: absolute;
    left: 70%;
    top: 750px;
    transform: translateX(-50%);
    text-align: center;
}

/* Bilder-Design */
.book-img{
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.book-text {
    margin-top: 10px;
    font-weight: bold;
}

/* Texte und Titel */
.Titles, .Titles_Lang {
    font-weight: bold;
    font-size: x-large;
}

.Inhaltsangabe_1{
    text-align: center;}

#summary, .Texte {
    text-align: center;}

/* Links */
a {
    color: #C5A059;
    text-decoration: none;
    border-bottom: 1px solid #C5A059;
}