.Titles{font-weight: bold;}
.Titles{font-size: x-large;}
.Inhaltsangabe{text-align: center;}
.Inhaltsangabe{font-size: x-large;}
#Name_Website{text-align: center;}
.Texte{text-align: center;}
.Titles_Lang{text-align: center;}
.Titles_Lang{ font-weight: bold;}
.Titles_Lang{font-size: x-large;}
#Pictures{
  position: absolute;
  left: 66%;             
  top: 130%; 
 text-align: center; }