.zitat-box {
   
    display: block;
    margin: 20px auto ;
    
    
    width: 90%; 
    max-width: 400px; 
    max-height: 130px; 
    
   
    border: 2px solid #C5A059;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: white;
    text-align: center;}

.text { 
    font-size: 1rem; 
    font-style: italic; 
    margin: 0;
    line-height: 1.2;}

.autor { 
    color: #C5A059; 
    font-weight: bold; 
    font-size: 0.85rem; 
    margin-top: 5px; 
    margin-bottom: 8px; 
    display: block;}

.navigation button {
    background: #C5A059;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0 5px;}


body {
    background-color: #18401c;
    color: #F5F2E8;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;}


#Name_Website {
    font-size: 3.5rem; 
    font-weight: 800;
    color: #C5A059;
    text-align: center;
    margin: 0.8cm;
    line-height: 1.1;}

.buch-container {
    position: absolute;
    left: 75%;
    top: 750px;
    transform: translateX(-50%);
    text-align: center;}


.book-img{
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}

.book-text {
    margin-top: 10px;
    font-weight: bold;}

.Titles{
    font-weight: bold;
    font-size: x-large;}

.Titles_Lang{ 
    font-weight: bold;
    font-size: x-large;
    text-align: center;}

.Inhaltsangabe_1{
    text-align: center;
font-size: large;}

#summary, .Texte {
    text-align: center;}


a {
    color: #C5A059;
    text-decoration: none;
    border-bottom: 1px solid #C5A059;}